Repository frontal-labs/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

docs: add project documentation
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
Due: biome format --write

chore: add build and utility scripts
  scripts/index.ts
  scripts/initialize.ts
  scripts/update.ts
  scripts/utils.ts
Due: biome check --write, biome format --write

chore: add examples, documentation, and assets
  assets/banner-dark.png
  assets/banners.png
  docs/.gitkeep
  examples/.gitkeep
Due: none

Add docs and update configuration files
  docs/ARCHITECTURE.md
  docs/COMPONENTS.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/README.md
  docs/THEMING.md
  docs/components.md
  docs/packages/BLOCKS.md
  docs/packages/CHARTS.md
  docs/packages/COLORS.md
  docs/packages/DESIGN-SYSTEM.md
  docs/packages/ICONS.md
  docs/packages/PRIMITIVES.md
  docs/packages/SHARED.md
  docs/packages/TYPEFACE.md
  docs/packages/UI.md
  docs/packages/blocks.md
  docs/packages/charts.md
  docs/packages/colors.md
  docs/packages/design-system.md
  docs/packages/icons.md
  docs/packages/primitives.md
  docs/packages/shared.md
  docs/packages/typeface.md
  docs/packages/ui.md
  docs/theming.md
Due: biome format --write

Fix GitHub Actions: add test:coverage script, fix linting errors
  biome.jsonc
  package.json
  packages/blocks/src/components/calendar-27.tsx
  packages/colors/src/utils.ts
Due: biome check --write, biome format --write

fix: add test:coverage task to turbo.json
  turbo.json
Due: biome format --write

fix: add @components alias to icons vitest config
  packages/icons/vitest.config.ts
Due: biome check --write, biome format --write

fix: make tests depend on build and allow codecov to fail
  .github/workflows/test-coverage.yml
  turbo.json
Due: biome format --write

fix: remove test dependency from build to avoid circular dependency
  turbo.json
Due: biome format --write

fix: correct textarea import and add coverage directory config
  packages/colors/vitest.config.ts
  storybook/stories/textarea.stories.tsx
Due: biome check --write, biome format --write

fix: ensure all fixes are committed
  packages/blocks/tsconfig.json
  packages/charts/tsconfig.json
  packages/colors/tsconfig.json
  packages/design-system/tsconfig.json
  packages/icons/tsconfig.json
  packages/primitives/.rollup.cache/Volumes/Frontal Labs IP/frontal/frontal-design-system/packages/primitives/src/index.js
  packages/primitives/.rollup.cache/Volumes/Frontal Labs IP/frontal/frontal-design-system/packages/primitives/src/index.js.map
  packages/typeface/tsconfig.json
  packages/ui/tsconfig.json
Due: biome format --write

infra(bun): migrate package manager from pnpm to Bun
  bun.lock
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome format --write

build(deps): update workspace packages for Bun compatibility
  packages/blocks/package.json
  packages/charts/package.json
  packages/colors/package.json
  packages/design-system/package.json
  packages/icons/package.json
  packages/primitives/package.json
  packages/shared/package.json
  packages/typeface/package.json
  packages/typescript-config/base.json
  packages/ui/package.json
Due: biome format --write

test: migrate from Vitest to Bun Test
  packages/blocks/vitest.config.ts
  packages/charts/vitest.config.ts
  packages/colors/vitest.config.ts
  packages/design-system/vitest.config.ts
  packages/icons/vitest.config.ts
  packages/primitives/vitest.config.ts
  packages/shared/vitest.config.ts
  packages/typeface/tests/fonts.test.ts
  packages/typeface/tests/preload.ts
  packages/typeface/vitest.config.ts
  packages/ui/vitest.config.ts
Due: biome check --write, biome format --write

ci: update GitHub Actions to use oven-sh/setup-bun
  .github/workflows/ci.yml
  .github/workflows/format-check.yml
  .github/workflows/push.yml
  .github/workflows/security.yml
  .github/workflows/test-coverage.yml
Due: none

style(biome): configure Biome with @frontal/style-guide
  biome.jsonc
Due: biome format --write

docs: update README title
  README.md
Due: biome format --write

refactor(root): update storybook workspace path to apps/storybook
  package.json
Due: biome format --write

chore: standardize design-system naming and metadata
  README.md
  bun.lock
Due: biome format --write

fix: remove deleted workspace dependencies and update tsconfig paths
  apps/storybook/package.json
  bun.lock
  internal/typescript-config/react.json
  packages/blocks/package.json
  packages/blocks/tsconfig.json
  packages/charts/package.json
  packages/charts/tsconfig.json
  packages/colors/package.json
  packages/colors/tsconfig.json
  packages/components/package.json
  packages/components/tsconfig.json
  packages/icons/package.json
  packages/icons/tsconfig.json
  packages/typeface/package.json
  packages/typeface/tsconfig.json
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: biome format --write

fix: correct typeface utils import path
  packages/typeface/src/index.ts
Due: biome check --write, biome format --write

chore(config): update build scripts and tooling configuration
  biome.jsonc
  internal/typescript-config/react.json
  package.json
  turbo.json
Due: biome format --write

chore(tsconfig): remove bun-types from TypeScript configs
  packages/blocks/tsconfig.json
  packages/charts/tsconfig.json
  packages/colors/tsconfig.json
  packages/components/tsconfig.json
  packages/icons/tsconfig.json
  packages/typeface/tsconfig.json
  packages/ui/tsconfig.json
Due: biome format --write

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  biome format --write: (any of: *.{ts,tsx}) or (any of: *.{json,jsonc,md})
