Repository frontal-labs/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

feat(ui): add useIsMobile hook
  packages/ui/src/components/sidebar.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/use-is-mobile.ts
  packages/ui/src/index.ts
Due: biome check --write, biome format --write

refactor(blocks): improve type definitions and import order
  packages/blocks/src/components/calendar-21.tsx
  packages/blocks/src/components/dashboard-01/components/chart-area-interactive.tsx
  packages/blocks/src/components/dashboard-01/components/data-table.tsx
  packages/blocks/src/components/login-01/components/login-form.tsx
  packages/blocks/src/components/login-02/components/login-form.tsx
  packages/blocks/src/components/login-03/components/login-form.tsx
  packages/blocks/src/components/login-04/components/login-form.tsx
  packages/blocks/src/components/login-05/components/login-form.tsx
  packages/blocks/src/components/otp-02/components/otp-form.tsx
  packages/blocks/src/components/otp-04/components/otp-form.tsx
  packages/blocks/src/components/otp-05/components/otp-form.tsx
  packages/blocks/src/components/signup-02/components/signup-form.tsx
  packages/blocks/src/components/signup-03/components/signup-form.tsx
  packages/blocks/src/components/signup-04/components/signup-form.tsx
  packages/blocks/src/components/signup-05/components/signup-form.tsx
Due: biome check --write, biome format --write

fix(storybook): improve key props in story examples
  apps/storybook/stories/card.stories.tsx
  apps/storybook/stories/carousel.stories.tsx
Due: biome check --write, biome format --write

style: format CSS files
  packages/colors/src/styles/styles.css
  packages/colors/src/styles/theme.css
  packages/ui/src/styles/styles.css
Due: none

refactor(typeface): update exports and format styles
  packages/typeface/src/index.ts
  packages/typeface/src/styles/styles.css
  packages/typeface/src/utils.ts
Due: biome check --write, biome format --write

chore: update bun lock file
  bun.lock
Due: none

refactor(ui): fix import order in utils
  packages/ui/src/utils.ts
Due: biome check --write, biome format --write

feat(config): add Docker and development tool configurations
  Dockerfile
  bum.config.js
  bunfig.toml
  commitlint.config.js
  docker-compose.yml
  knip.config.js
  pre-commit-config.yaml
  release.config.js
  size-limit.config.js
Due: none

chore: remove obsolete configuration and scripts
  .commitlintrc
  scripts/index.ts
  scripts/initialize.ts
  scripts/update.ts
  scripts/utils.ts
Due: biome check --write, biome format --write

fix(ci): update GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/format-check.yml
  .github/workflows/push.yml
  .github/workflows/security.yml
  .github/workflows/test-coverage.yml
Due: none

fix: correct bunfig.toml and security workflow
  .github/workflows/security.yml
  bunfig.toml
Due: none

fix: use bunx for patch-package in postinstall script
  package.json
Due: biome format --write

fix: correct storybook import and TypeScript configs
  apps/storybook/stories/toggle-group.stories.tsx
  bunfig.toml
  internal/typescript-config/base.json
  internal/typescript-config/react.json
Due: biome check --write, biome format --write

fix: add @frontal/design-system dependency to Storybook
  apps/storybook/package.json
Due: biome format --write

fix: add styles export and improve test error handling
  packages/design-system/package.json
  packages/design-system/src/styles/globals.css
  tools/builder/tests/index.test.ts
  tools/generators/tests/index.test.ts
Due: biome check --write, biome format --write

fix: remove trailing newline from globals.css
  packages/design-system/src/styles/globals.css
Due: none

fix: correct test error handling to skip gracefully
  tools/builder/tests/index.test.ts
  tools/generators/tests/index.test.ts
Due: biome check --write, biome format --write

fix: skip tests that require runtime dependencies in CI
  tools/builder/tests/index.test.ts
  tools/generators/tests/index.test.ts
Due: biome check --write, biome format --write

fix: use correct CSS export paths in globals.css
  packages/design-system/src/styles/globals.css
Due: none

chore(turbo): add build:bundle and lint/spell fix tasks
  turbo.json
Due: biome format --write

chore(cspell): add bumpp and infile to dictionary
  cspell.json
Due: biome format --write

chore: add repository info and update test scripts in packages
  packages/blocks/package.json
  packages/charts/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/design-system/package.json
  packages/icons/package.json
  packages/typeface/package.json
  packages/ui/package.json
Due: biome format --write

chore(turbo): update task dependencies and add new tasks
  turbo.json
Due: biome format --write

chore(lint-staged): exclude markdown files from biome formatting
  .lintstagedrc
  packages/blocks/CHANGELOG.md
  packages/blocks/CONTRIBUTING.md
  packages/blocks/LICENSE.md
  packages/charts/CHANGELOG.md
  packages/charts/CONTRIBUTING.md
  packages/charts/LICENSE.md
  packages/colors/CHANGELOG.md
  packages/colors/CONTRIBUTING.md
  packages/colors/LICENSE.md
  packages/colors/docs/API.md
  packages/colors/docs/GUIDE.md
  packages/components/CHANGELOG.md
  packages/components/CONTRIBUTING.md
  packages/components/LICENSE.md
  packages/components/docs/GUIDE.md
  packages/design-system/CHANGELOG.md
  packages/design-system/CONTRIBUTING.md
  packages/design-system/LICENSE.md
  packages/design-system/docs/API.md
  packages/design-system/docs/GUIDE.md
  packages/icons/CHANGELOG.md
  packages/icons/CONTRIBUTING.md
  packages/icons/LICENSE.md
  packages/icons/docs/API.md
  packages/icons/docs/GUIDE.md
  packages/typeface/CHANGELOG.md
  packages/typeface/CONTRIBUTING.md
  packages/typeface/LICENSE.md
  packages/ui/CHANGELOG.md
  packages/ui/CONTRIBUTING.md
  packages/ui/LICENSE.md
  packages/ui/docs/API.md
  packages/ui/docs/GUIDE.md
Due: biome format --write

test: add test files to packages
  packages/blocks/tests/index.test.ts
  packages/charts/tests/index.test.ts
  packages/colors/tests/index.test.ts
  packages/components/tests/index.test.ts
  packages/design-system/tests/index.test.ts
  packages/icons/tests/index.test.ts
  packages/typeface/tests/index.test.ts
  packages/ui/tests/index.test.ts
Due: biome check --write, biome format --write

feat(internal): add @frontal/next-config package
  internal/next-config/.env.example
  internal/next-config/CHANGELOG.md
  internal/next-config/README.md
  internal/next-config/package.json
  internal/next-config/src/bundle-analyzer.ts
  internal/next-config/src/index.ts
  internal/next-config/src/keys.ts
  internal/next-config/tsconfig.json
Due: biome check --write, biome format --write

feat(internal): add bun.json and root.json to typescript-config
  internal/typescript-config/bun.json
  internal/typescript-config/root.json
Due: biome format --write

chore: reorganize root package.json and add typescript-config
  package.json
Due: biome format --write

chore: standardize package.json across all packages
  apps/storybook/package.json
  example/package.json
  internal/typescript-config/package.json
  packages/blocks/package.json
  packages/charts/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/design-system/package.json
  packages/icons/package.json
  packages/typeface/package.json
  packages/ui/package.json
  tools/builder/package.json
  tools/constraints/package.json
  tools/generators/package.json
Due: biome format --write

chore: update config files to use shared configurations
  apps/storybook/next.config.ts
  apps/storybook/tsconfig.json
  example/tsconfig.json
  tsconfig.json
Due: biome check --write, biome format --write

chore: update bun.lock with dependency changes
  bun.lock
Due: none

docs: add MISSING_FILES.md tracking document
  MISSING_FILES.md
Due: biome format --write

chore(cleanup): remove legacy .nvmrc files and deprecated tools
  MISSING_FILES.md
  packages/blocks/.nvmrc
  packages/charts/.nvmrc
  packages/colors/.nvmrc
  packages/components/.nvmrc
  packages/design-system/.nvmrc
  packages/icons/.nvmrc
  packages/typeface/.nvmrc
  packages/ui/.nvmrc
  tools/builder/README.md
  tools/builder/docs/ANALYSIS-GUIDE.md
  tools/builder/docs/BUILD-GUIDE.md
  tools/builder/package.json
  tools/builder/src/analyzer.ts
  tools/builder/src/bundler.ts
  tools/builder/src/cli.ts
  tools/builder/src/index.ts
  tools/builder/src/types.ts
  tools/builder/tests/index.test.ts
  tools/builder/tsconfig.json
  tools/builder/turbo.json
  tsup.config.ts
Due: biome check --write, biome format --write

docs(monorepo): standardize documentation and contribution guides
  CONTRIBUTING.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/PACKAGES.md
  docs/README.md
  docs/TROUBLESHOOTING.md
  example/README.md
  packages/blocks/CONTRIBUTING.md
  packages/blocks/README.md
  packages/blocks/docs/README.md
  packages/charts/CONTRIBUTING.md
  packages/charts/README.md
  packages/charts/docs/README.md
  packages/colors/CONTRIBUTING.md
  packages/colors/README.md
  packages/colors/docs/API.md
  packages/components/CONTRIBUTING.md
  packages/components/README.md
  packages/components/docs/GUIDE.md
  packages/design-system/README.md
  packages/design-system/docs/API.md
  packages/icons/README.md
  packages/typeface/README.md
  packages/ui/CONTRIBUTING.md
  packages/ui/README.md
Due: biome format --write

chore(config): update build system and general configurations
  .husky/commit-msg
  .husky/pre-commit
  cspell.json
  meta.json
  package.json
  packages/blocks/package.json
  packages/charts/package.json
  packages/colors/package.json
  packages/components/package.json
  packages/design-system/package.json
  packages/icons/package.json
  packages/typeface/package.json
  packages/ui/package.json
  size-limit.config.js
  turbo.json
Due: biome format --write

refactor(build): standardize package build scripts and update lockfile
  bun.lock
  packages/blocks/build.ts
  packages/charts/build.ts
  packages/colors/build.ts
  packages/components/build.ts
  packages/design-system/build.ts
  packages/icons/build.ts
  packages/typeface/build.ts
  packages/ui/build.ts
Due: biome check --write, biome format --write

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  biome format --write: (any of: *.{ts,tsx}) or (any of: *.{json,jsonc,md})
