Repository frontal-labs/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, biome format --write

fix(blocks): resolve type errors in shadcn-schema
  packages/blocks/src/types/shadcn-schema.d.ts
  packages/blocks/src/types/shadcn-schema.ts
Due: biome check --write, biome format --write

fix(storybook): update storybook configuration and fix story types
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/stories/alert-dialog.stories.tsx
  apps/storybook/stories/alert.stories.tsx
  apps/storybook/stories/button.stories.tsx
  apps/storybook/stories/carousel.stories.tsx
  apps/storybook/stories/command.stories.tsx
  apps/storybook/stories/context-menu.stories.tsx
  apps/storybook/stories/drawer.stories.tsx
  apps/storybook/stories/form.stories.tsx
  apps/storybook/stories/hover-card.stories.tsx
  apps/storybook/stories/menubar.stories.tsx
  apps/storybook/stories/navigation-menu.stories.tsx
  apps/storybook/stories/scroll-area.stories.tsx
  apps/storybook/stories/select.stories.tsx
  apps/storybook/stories/sidebar.stories.tsx
  apps/storybook/stories/slider.stories.tsx
  apps/storybook/stories/toggle-group.stories.tsx
  apps/storybook/tsconfig.json
  apps/storybook/vercel.json
Due: biome check --write, biome format --write

chore(standardization): refine tsconfig and update package tests
  internal/next-config/tsconfig.json
  packages/blocks/tsconfig.json
  packages/charts/tsconfig.json
  packages/colors/tests/index.test.ts
  packages/colors/tsconfig.json
  packages/components/tsconfig.json
  packages/design-system/tests/index.test.ts
  packages/design-system/tsconfig.json
  packages/icons/tsconfig.json
  packages/typeface/tests/index.test.ts
  packages/typeface/tsconfig.json
  packages/ui/tsconfig.json
Due: biome check --write, biome format --write

chore(config): ignore build artifacts in .gitignore
  .gitignore
Due: none

fix(config): restore build configs and finalize build scripts
  .gitignore
  packages/blocks/tsconfig.declaration.json
  packages/charts/tsconfig.declaration.json
  packages/colors/build.ts
  packages/components/tsconfig.declaration.json
  packages/design-system/tsconfig.declaration.json
  packages/icons/tsconfig.declaration.json
  packages/typeface/tsconfig.declaration.json
  packages/ui/tsconfig.declaration.json
Due: biome check --write, biome format --write

fix(config): add missing tsconfig.declaration.json for colors
  packages/colors/tsconfig.declaration.json
Due: biome format --write

fix(ci): consolidate jobs and update turbo dependencies
  .github/workflows/push.yml
  turbo.json
Due: biome format --write

fix(build): ensure ESM and CJS outputs are explicitly written
  packages/blocks/build.ts
  packages/charts/build.ts
  packages/colors/build.ts
  packages/components/build.ts
  packages/design-system/build.ts
  packages/icons/build.ts
  packages/typeface/build.ts
  packages/ui/build.ts
Due: biome check --write, biome format --write

refactor(tsconfig): clean up path mappings across packages
  packages/blocks/tsconfig.json
  packages/charts/tsconfig.json
  packages/colors/tsconfig.json
  packages/components/tsconfig.json
  packages/design-system/tsconfig.json
  packages/icons/tsconfig.json
  packages/typeface/tsconfig.json
  packages/ui/tsconfig.json
Due: biome format --write

docs(storybook): add comprehensive documentation
  apps/storybook/README.md
  apps/storybook/docs/CONFIGURATION.md
  apps/storybook/docs/DEVELOPMENT.md
  apps/storybook/docs/DOCKER.md
  apps/storybook/docs/GETTING-STARTED.md
  apps/storybook/docs/INDEX.md
  apps/storybook/docs/README.md
  apps/storybook/docs/STORIES.md
Due: none

feat(storybook): add Docker support for containerized development
  apps/storybook/.dockerignore
  apps/storybook/Dockerfile
  apps/storybook/docker-compose.yml
Due: none

docs: add code of conduct
  CODE_OF_CONDUCT.md
Due: none

fix(design-system): add path mappings for workspace package types
  packages/design-system/tsconfig.json
Due: biome format --write

chore(github): add comprehensive GitHub configuration and templates
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/FUNDING.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/branch-protection.json
  .github/dependabot.yml
  .github/labeler.yml
  .github/labels.yml
  .github/release.yml
  .github/renovate.json
  .github/workflow-templates.yml
  .github/workflows/publish-packages.yml
Due: biome format --write

feat(design-system): configure package for GitHub Packages publishing
  packages/design-system/.npmrc
  packages/design-system/build.ts
  packages/design-system/package.json
Due: biome check --write, biome format --write

chore: version packages with changesets
  apps/storybook/CHANGELOG.md
  apps/storybook/package.json
  packages/design-system/CHANGELOG.md
  packages/design-system/package.json
Due: biome format --write

fix(publish): add workspace dependencies and fix build order
  .github/workflows/publish-packages.yml
  packages/design-system/package.json
Due: biome format --write

fix(publish): use correct turbo filter syntax for dependencies
  .github/workflows/publish-packages.yml
Due: none

refactor: remove @frontal/components package
  README.md
  cspell.json
  docs/ARCHITECTURE.md
  docs/PACKAGES.md
  docs/README.md
  packages/components/.editorconfig
  packages/components/.gitignore
  packages/components/.npmignore
  packages/components/.npmrc
  packages/components/CHANGELOG.md
  packages/components/CONTRIBUTING.md
  packages/components/LICENSE.md
  packages/components/README.md
  packages/components/build.ts
  packages/components/docs/GUIDE.md
  packages/components/package.json
  packages/components/src/index.ts
  packages/components/src/styles/styles.css
  packages/components/tests/index.test.ts
  packages/components/tsconfig.declaration.json
  packages/components/tsconfig.json
  packages/components/turbo.json
  packages/design-system/README.md
  packages/design-system/docs/API.md
  packages/design-system/docs/GUIDE.md
  packages/design-system/package.json
  packages/design-system/src/index.ts
Due: biome check --write, biome format --write

chore(design-system): remove trailing newline from .npmrc
  packages/design-system/.npmrc
Due: none

fix(publish): remove --frozen-lockfile flag to allow lockfile updates
  .github/workflows/publish-packages.yml
Due: none

fix(publish): configure npm auth token explicitly for GitHub Packages
  .github/workflows/publish-packages.yml
Due: none

fix(publish): add --no-workspaces flag to npm publish
  .github/workflows/publish-packages.yml
Due: none

fix(publish): publish from temp directory to avoid workspace detection
  .github/workflows/publish-packages.yml
Due: none

fix(publish): add --ignore-scripts flag to skip prepublishOnly
  .github/workflows/publish-packages.yml
Due: none

fix(publish): ensure publishConfig is set correctly in temp package.json
  .github/workflows/publish-packages.yml
Due: none

fix(publish): ensure repository field is preserved in temp package.json
  .github/workflows/publish-packages.yml
Due: none

fix(publish): attempt to create package via API before publishing
  .github/workflows/publish-packages.yml
Due: none

fix(publish): ensure repository field links package to repo
  .github/workflows/publish-packages.yml
Due: none

fix(publish): add repository-projects permission
  .github/workflows/publish-packages.yml
Due: none

chore: remove Docker infrastructure
  Dockerfile
  apps/storybook/Dockerfile
  apps/storybook/docker-compose.yml
Due: none

chore: remove internal packages
  internal/next-config/.env.example
  internal/next-config/CHANGELOG.md
  internal/next-config/README.md
  internal/next-config/package.json
  internal/next-config/src/bundle-analyzer.ts
  internal/next-config/src/index.ts
  internal/next-config/src/keys.ts
  internal/next-config/tsconfig.json
  internal/typescript-config/README.md
  internal/typescript-config/base.json
  internal/typescript-config/bun.json
  internal/typescript-config/nextjs.json
  internal/typescript-config/package.json
  internal/typescript-config/react.json
  internal/typescript-config/root.json
Due: biome check --write, biome format --write

feat: add root package infrastructure
  build.ts
  index.ts
  package.json
  tsconfig.declaration.json
Due: biome check --write, biome format --write

docs: update documentation for package rename
  docs/ARCHITECTURE.md
  docs/COMPONENTS.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/GETTING-STARTED.md
  docs/PACKAGES.md
  docs/README.md
  docs/THEMING.md
  docs/TROUBLESHOOTING.md
Due: none

Path conditions:
  biome check --write: any of: *.{ts,tsx}
  biome format --write: (any of: *.{ts,tsx}) or (any of: *.{json,jsonc})
